[Unit]
Description=https://github.com/kaihendry/lk
Requires=docker.service

[Service]
ExecStartPre=/usr/bin/docker pull hendry/lk
ExecStart=/usr/bin/docker run -v /mnt/raid1/familyscans:/srv -p 80:3000 --name lk --rm hendry/lk

[Install]
WantedBy=multi-user.target
